@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Djahanbani Family Christmas List App</h1>
    <p>This app is designed to keep track of all christmas gifts from every year. You can add entries, edit them, delete them, and filter them. Get started here: <a asp-area="" asp-controller="Lists" asp-action="Index">Christmas Lists</a></p>
</div>
